workflows/outlook-filter-public.json
{
  "name": "Outlook filter (vikt)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "raw",
        "filters": {
          "foldersToInclude": [
            "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwAAAgEMAAAA"
          ],
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1728,
        368
      ],
      "id": "86ca6712-99c0-4b41-9981-61124d8396b1",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function decodeEntities(s='') {\n  return s\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\");\n}\n\nreturn items.map(item => {\n  const body = item.json?.body || {};\n  const raw = body.content || '';\n\n  // 1) HTML -> text\n  const plain = decodeEntities(\n    raw\n      .replace(/<style[\\s\\S]*?<\\/style>/gi,' ')\n      .replace(/<script[\\s\\S]*?<\\/script>/gi,' ')\n      .replace(/<!--[\\s\\S]*?-->/g,' ')\n      .replace(/<[^>]+>/g,' ')\n  )\n  .replace(/\\s+/g,' ')\n  .trim();\n\n  // 2) Удаляем типичные «подвалы» (unsubscribe, адреса рассылки)\n  const cleaned = plain\n    .replace(/(odhlásenie|unsubscribe|если не хотите|не хочeте отримувати)[\\s\\S]*$/i, '')\n    .trim();\n\n  // 3) Фолбэк, если письмо пустое\n  const fallback = item.json.bodyPreview || item.json.subject || '';\n  item.json._plainBody = (cleaned || fallback).slice(0, 5000);\n\n  // 4) Метаданные\n  item.json._meta = {\n    id: item.json.id,\n    subject: item.json.subject || '',\n    from: item.json.from?.emailAddress?.address\n          || item.json.sender?.emailAddress?.address\n          || '',\n    to: (item.json.toRecipients || []).map(r => r.emailAddress.address).join(', '),\n    received: item.json.receivedDateTime || '',\n    hasAttachments: !!item.json.hasAttachments,\n    webLink: item.json.webLink || ''\n  };\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        368
      ],
      "id": "e64db490-a5ed-4629-8acb-96f5e3484f34",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer ONLY with one JSON object that matches the schema.\nNo text before/after. No markdown. No extra keys.\n\nTask\nClassify the email into a single category, assign priority, suggest a folder, and set notify flag.\n\nInputs\nSubject: {{ $json[\"_meta\"][\"subject\"] }}\nFrom: {{ $json[\"_meta\"][\"from\"] }}\nBody: {{ $json[\"_plainBody\"] }}\n\nCategories (choose exactly ONE)\nUniversity, System, Promotions, Personal, Other\n\nPriority rules\n* \"critical\": urgent ≤24h, university official with deadline, financial transaction/failure, security alert requiring immediate action (e.g., account locked, fraudulent charge, forced password reset, payment failure, service suspension).\n* \"high\": important but not critical (e.g., deadlines for exams, contracts, invoices, near-term meeting invites/updates).\n* \"normal\":\n  * routine security notifications (“new sign-in detected”, “unfamiliar device”, “login attempt”),\n  * one-time verification codes (OTP/2FA/login),\n  * automated alerts that say “If this was you, no action needed.”\n* \"low\": junk, promo, newsletters, marketing.\n  ⚠ Promotional/marketing emails remain \"low\" even if they mention expiry dates or renewal prompts.\n\nFolder mapping\nChoose one of: University, System, Personal, Promotions, Other.\n\nNotify\ntrue if priority=\"critical\" OR (priority=\"high\" AND label in {University, System}). Else false.\n\nConstraints\n- Output must match the schema exactly.\n- Use ONE label only.\n- Keep summary ≤ 200 characters.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1344,
        368
      ],
      "id": "f8e14098-68b4-4b88-989f-fce134c32131",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "maxTokens": 1024,
          "responseFormat": "json_object",
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1376,
        544
      ],
      "id": "04c54206-6e3c-42a2-93ae-f998ddeefcc4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_CREDENTIAL_ID_openAiApi",
          "name": "REPLACE_CREDENTIAL_NAME_openAiApi"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority || $json.output.priority }}",
                    "rightValue": "low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "717c8a6f-a806-4617-8547-d684b9a3cfa3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f949b26-a8fc-41f7-95c8-20b66c73d10f",
                    "leftValue": "={{ $json.priority || $json.output.priority }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00514208-3984-48b8-898a-8bd4d9fe907d",
                    "leftValue": "={{ $json.priority || $json.output.priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d6cb614-1a71-4a7b-80dd-a6ca02e7bdb3",
                    "leftValue": "={{ $json.priority || $json.output.priority }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b976386a-0799-46b9-b873-d1da3ed3d76b",
                    "leftValue": "=",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1040,
        96
      ],
      "id": "032a170f-ec18-491c-8d58-c6da732e43fd",
      "name": "Switch (low-critical)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -704,
        -32
      ],
      "id": "0eda02e7-3206-4104-8694-af1b02c46780",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "chatId": "REPLACE_CHAT_ID",
        "text": "=📧 *New Email Received*\n\n👤 *From:* {{$node[\"Microsoft Outlook Trigger\"].json.from.emailAddress.address}}\n📥 *To:* {{$node[\"Microsoft Outlook Trigger\"].json.toRecipients[0].emailAddress.address}}\n📝 *Subject:* {{$node[\"Microsoft Outlook Trigger\"].json.subject}}\n\n⚡ *Priority:* {{$json.output.priority}}\n📂 *Suggested Folder:* {{$json.output.suggestedFolder}}\n\n📖 *Summary:*  \n{{$json.output.summary}}\n\n💡 *Why important:*  \n• {{$json.output.reasons[0]}}  \n• {{$json.output.reasons[1]}}  \n• {{$json.output.reasons[2]}}\n\n🔗 [Open email]({{$node[\"Microsoft Outlook Trigger\"].json.webLink}})",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        128
      ],
      "id": "83fe9258-0eb3-4cc4-b885-c3d7ecb60807",
      "name": "Need to read",
      "webhookId": "dae25f51-fc9c-4463-bd06-b4da8cda87dc",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_CREDENTIAL_ID_telegramApi",
          "name": "REPLACE_CREDENTIAL_NAME_telegramApi"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_CHAT_ID",
        "text": "The agent did not recognize the letter. We need to figure it out.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        320
      ],
      "id": "7ed7a4e8-198f-4cb0-ac30-2f0e90d6a115",
      "name": "AI slop",
      "webhookId": "beea3b99-5408-45f0-bff9-e22a4e10f9a2",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_CREDENTIAL_ID_telegramApi",
          "name": "REPLACE_CREDENTIAL_NAME_telegramApi"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d81cf4bb-da91-4dbb-a711-24f4b056de54",
                    "leftValue": "={{ $json.output.suggestedFolder }}",
                    "rightValue": "Personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b944f583-e894-4aef-b22a-51cf19a48011",
                    "leftValue": "={{ $json.output.suggestedFolder }}",
                    "rightValue": "Promotions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c817a4a-7958-4e81-bb70-9c791bd9e59c",
                    "leftValue": "={{ $json.output.suggestedFolder }}",
                    "rightValue": "System",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0fba0d77-4b17-4182-9fbb-9f1a3487c915",
                    "leftValue": "={{ $json.output.suggestedFolder }}",
                    "rightValue": "University",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97368ce2-55a0-4151-9e96-58aec16d2b89",
                    "leftValue": "={{ $json.output.suggestedFolder }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDACTED"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1200,
        736
      ],
      "id": "773caf19-aa80-461a-b62c-720cda129942",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwABHm8ZcAAAAA==",
          "mode": "list",
          "cachedResultName": "Personal",
          "cachedResultUrl": "https://example.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -848,
        480
      ],
      "id": "258cdc88-f9bf-4373-8a4b-31a6eaaafb79",
      "name": "Move a Personal message",
      "webhookId": "a87c68f4-a8ad-4048-945b-4694468586ed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwABHm8ZbgAAAA==",
          "mode": "list",
          "cachedResultName": "System",
          "cachedResultUrl": "https://example.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -608,
        752
      ],
      "id": "85133db0-fef1-4116-9247-394384ca842a",
      "name": "Move a System message",
      "webhookId": "a87c68f4-a8ad-4048-945b-4694468586ed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwABHm8ZbAAAAA==",
          "mode": "list",
          "cachedResultName": "University",
          "cachedResultUrl": "https://example.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -752,
        864
      ],
      "id": "2f4ae94a-052e-488d-a6b1-1f59ca4cc57b",
      "name": "Move a University message",
      "webhookId": "a87c68f4-a8ad-4048-945b-4694468586ed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwABHm8ZcQAAAA==",
          "mode": "list",
          "cachedResultName": "Other",
          "cachedResultUrl": "https://example.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -800,
        1024
      ],
      "id": "add376ec-0bc2-4f16-a18a-fa300a588576",
      "name": "Move an Other message",
      "webhookId": "a87c68f4-a8ad-4048-945b-4694468586ed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwABHm8ZdQAAAA==",
          "mode": "list",
          "cachedResultName": "Fallback",
          "cachedResultUrl": "https://example.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1008,
        1104
      ],
      "id": "5e8ae428-2e3e-4462-8043-3aac6d2c4a13",
      "name": "Move a Fallback",
      "webhookId": "a87c68f4-a8ad-4048-945b-4694468586ed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"label\": { \"type\": \"string\", \"enum\": [\"University\",\"System\",\"Promotions\",\"Personal\",\"Other\"] },\n        \"priority\": { \"type\": \"string\", \"enum\": [\"critical\",\"high\",\"normal\",\"low\"] },\n        \"suggestedFolder\": { \"type\": \"string\", \"enum\": [\"University\",\"System\",\"Promotions\",\"Personal\",\"Other\"] },\n        \"summary\": { \"type\": \"string\", \"maxLength\": 240 },\n        \"reasons\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 1, \"maxItems\": 5 },\n        \"confidence\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 1 },\n        \"notify\": { \"type\": \"boolean\" }\n      },\n      \"required\": [\"label\",\"priority\",\"suggestedFolder\",\"summary\",\"reasons\",\"confidence\",\"notify\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"output\"],\n  \"additionalProperties\": false,\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1136,
        544
      ],
      "id": "4abd5fad-2317-4398-b0d6-cfa820e962a0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Microsoft Outlook Trigger').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AQMkADkyNGJmZTQ2LWNmYjAtNGU5YS1iNmQ3LTZiYTRkYmZjNDg1NgAuAAADc-o4pQHhU0uGF2-rY2SAZQEANMwRC6RQVEWTciFNz3OZAwABHm8ZbwAAAA==",
          "mode": "list",
          "cachedResultName": "Promotions",
          "cachedResultUrl": "https://example.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -704,
        608
      ],
      "id": "6c5684b7-0da1-4eb2-af32-ea48d4859cb8",
      "name": "Move a Promotions message",
      "webhookId": "a87c68f4-a8ad-4048-945b-4694468586ed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_CREDENTIAL_ID_microsoftOutlookOAuth2Api",
          "name": "REPLACE_CREDENTIAL_NAME_microsoftOutlookOAuth2Api"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch (low-critical)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch (low-critical)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need to read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need to read",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "AI slop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Move a Personal message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move a Promotions message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move a System message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move a University message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move an Other message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move a Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Qxz1zZsVQKpZBT4J"
  },
  "versionId": "a5ff8d6c-13bd-42ce-9079-fe270289fe62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "948bb98238b6d53395d329d73cb0b5fca92bd4e4ef3ef0b2f9b0a213bf0aa583"
  },
  "id": "aHXcIZ5S0j2jHNgg",
  "tags": []
}
